<md-toolbar color="primary" class="mat-elevation-z6">
  <div class="button-row mat-typography">
    <button md-button [routerLink]="['/home']">Hidden Words</button>
    <button md-raised-button color="primary" [routerLink]="['/plainsight']">Explore</button>
  </div>
  <span class="example-spacer"></span>
  <div class="button-row">
    <button md-icon-button color="accent">
      <md-icon aria-label="favorites">favorite</md-icon>
    </button>
    <button md-icon-button color="warn">
      <md-icon aria-label="announcements">announcement</md-icon>
    </button>
    <button md-icon-button>
      <md-icon aria-label="more links">more_vert</md-icon>
    </button>
  </div>
</md-toolbar>
