<div fxLayout="column" class="home-page">
  <div fxFlex>
      <div fxLayout="row" fxLayoutAlign="space-around center">
        <h1 class="home-header">HIDDEN WORDS</h1>
      </div>
  </div>
  <div fxFlex>
    <mat-grid-list cols="2" rowHeight="2:1">
      <mat-grid-tile>
        <h3 class="home-section">Section 1</h3>
      </mat-grid-tile>
      <mat-grid-tile>
        <h3 class="home-section">Section 2</h3>
      </mat-grid-tile>
      <mat-grid-tile>
        <h3 class="home-section">Section 3</h3>
      </mat-grid-tile>
      <mat-grid-tile>
        <h3 class="home-section">Section 4</h3>
      </mat-grid-tile>
    </mat-grid-list>
  </div>
</div>
