<div fxLayout="column">
  <div fxFlex>
      <div fxLayout="row" fxLayoutAlign="space-around center">
        <h1>home page</h1>
      </div>
  </div>
  <div fxFlex>
    <md-grid-list cols="2" rowHeight="2:1">
      <md-grid-tile>
        <h3>Section 1</h3>
      </md-grid-tile>
      <md-grid-tile>
        <h3>Section 2</h3>
      </md-grid-tile>
      <md-grid-tile>
        <h3>Section 3</h3>
      </md-grid-tile>
      <md-grid-tile>
        <h3>Section 4</h3>
      </md-grid-tile>
    </md-grid-list>
  </div>
</div>